<div class="container">
  <h2 *ngIf="!isEditMode">Ajouter une pièce</h2>
  <h2 *ngIf="isEditMode">Modifier la pièce</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>Nom :</label>
    <input formControlName="nom" />

    <label>Référence :</label>
    <input formControlName="reference" />

    <label>Description :</label>
    <textarea formControlName="description"></textarea>

    <label>Prix :</label>
    <input type="number" formControlName="prix" />

    <button type="submit">
      {{ isEditMode ? 'Mettre à jour' : 'Enregistrer' }}
    </button>
  </form>
</div>
