<div class="home-container">
  <h1>Bienvenue dans le système de gestion</h1>

  <div class="card-grid">
    <a routerLink="/clients/list" class="card">
      <h2>👥 Clients</h2>
      <p>Gérer les clients, sous-traitants et distributeurs</p>
    </a>

    <a routerLink="/pieces/list" class="card">
      <h2>🧩 Pièces</h2>
      <p>Consulter et modifier les pièces disponibles</p>
    </a>

    <a routerLink="/categories/list" class="card">
      <h2>📂 Catégories</h2>
      <p>Organiser les catégories et arborescences</p>
    </a>
 
 <a routerLink="/hierarchie" class="card">
      <h2>🧩 Voir la hiérarchie des pièces</h2>
    </a>


  <a routerLink="/upload" class="card">
    <h2>📤 Importer fichier</h2>
</a>


  </div>
</div>
